html {
  font-size: 62.5%;
}

.toggle-button {
  background-color: rgb(240, 240, 240);
  padding: 10px 15px;
  color: black;
  font-family: Arial;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.is-toggled {
  background-color: #000;
  color: white;
}